<div class="home-div">
  <div class="child-div">
    <div class="child-title">
      <span class="welcome">Bienvenue sur sosA Shop</span><br/>
      <span class="mat-display-1">Retrouvez notre collection</span><br/>
      <span><a mat-raised-button routerLink="/products" routerLinkActive="active">Ici</a></span>
    </div>
  </div>
</div>
<div class="brand">
  <div>
    <span><h1 class="bold">LES MARQUES TENDANCES</h1></span>
    <span>
      <img src="assets/logos/tommy.jpg"/>
      <img src="assets/logos/north-face.png"/>
      <img src="assets/logos/nike.png"/>
      <img src="assets/logos/carhartt.jpeg"/>
      <img src="assets/logos/ellesse.png"/>
    </span>
  </div>
</div>

